{% macro field(field_obj) -%}
    <div class="control-group {% if field_obj.errors %}error{% endif %}">
        {{ field_obj.label(class_="control-label") }}
        <div class="controls">
            {{ field_obj() }}
            {% if field_obj.errors %}<p class="text-error">{{  field_obj.errors[0] }}</p>{% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro submit(text) -%}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{{ text }}</button>
        </div>
    </div>
{%- endmacro %}
